.about__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__text {
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  color: var(--color-text);
  text-align: justify;
}
.divider {
  width: 50%;
  display: block;
  margin: 40px auto;
}

@media (max-width: 768px) {
  .about__inner {
    max-width: 700px;
  }
  .about__text {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .about__inner {
    max-width: 100%;
  }
}
