.gallery-slide img {
  width: 80%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.gallery-caption {
  text-align: center;
  /* margin: 15px 105px 0 105px; */
  margin: 0 auto;
}

.gallery__inner {
  position: relative;
}

.gallery-caption-wrap {
  display: block;
}

.gallery-prev,
.gallery-next {
  margin: 0;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: var(--color-secondary);
}

.gallery__controls {
  display: flex;
  justify-content: space-between;
}
