.news__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
}

.news__list {
  display: flex;
  justify-content: space-between;
}

button {
  margin: 60px auto;
}

@media (min-width: 768px) {
  .button {
    margin: 60px auto 0 auto;
  }
}
