.press__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.press__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (min-width: 768px) {
  .press__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 375px) {
  .press__list {
    grid-template-columns: 1fr;
  }
}
