:root {
  --color-primary: #113448;
  --color-secondary: #c6a45c;
  --color-text: #333;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1a1a1a;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.main {
  flex: 1;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #113448;
  text-align: center;
}
